button {
  background-color: green;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: darkgreen;
}
#btn-calculate {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#btn-calculate:hover {
  background-color: darkred;
}

.form-container {
  background-color: white;
  border: 3px solid #f1f1f1;
  width: 40%;
  margin: auto;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

form input[type="text"] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

form input[type="number"] {
  width: 80px;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

form label {
  padding: 12px;
  display: inline-block;
}
