<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="project_name">Project Name:</label>
      <input type="text" id="project_name" formControlName="project_name">
      <!-- <div *ngIf="projectForm.get('project_name').touched && projectForm.get('project_name').invalid">
        Project Name is required.
      </div> -->
    </div>
  
    <div>
      <label for="importance">Importance (0-20):</label>
      <input type="number" id="importance" formControlName="importance" min="0" max="20">
      <!-- <div *ngIf="projectForm.get('importance').touched && projectForm.get('importance').invalid">
        Importance must be between 0 and 20.
      </div> -->
    </div>
  
    <div>
      <label for="urgency">Urgency (0-20):</label>
      <input type="number" id="urgency" formControlName="urgency" min="0" max="20">
      <!-- <div *ngIf="projectForm.get('urgency').touched && projectForm.get('urgency').invalid">
        Urgency must be between 0 and 20.
      </div> -->
    </div>
  
    <button type="submit" [disabled]="projectForm.invalid">Submit</button>
    <button (click)="onClear()">Clear</button>
  
  </form>
  