<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="project_name">Project Name:</label>
      <input type="text" id="project_name" formControlName="project_name">
    </div>
  
    <div>
      <label for="importance">Importance (0-20):</label>
      <input type="number" id="importance" formControlName="importance" min="0" max="20">
    </div>
  
    <div>
      <label for="urgency">Urgency (0-20):</label>
      <input type="number" id="urgency" formControlName="urgency" min="0" max="20">
    </div>
  
    <button type="submit" [disabled]="projectForm.invalid">Submit</button>
    <button type="button" (click)="onClearForm()">Clear</button>

    <div>
      <button (click)="onClearProjects()">Start new projects list</button>
    </div>
  
</form>
  

<div *ngIf="projects_list.length > 0">
  <h2>Projects</h2>
  <ul>
    <li *ngFor="let project of projects_list">
      {{ project.project_name }} - {{ project.importance }} - {{ project.urgency }}
    </li>
  </ul>
</div>


<button (click)="onCalculateResults()">Calculate Results</button>

<div *ngIf="results.length > 0">
  <h2>Results</h2>
  <ul>
    <li *ngFor="let result of results">
      {{ result[1] }}:  {{ result[0] }}: {{ result[2] }}
    </li>
  </ul>